html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


}
ol, ul {
	list-style: square;
	margin: 0 0 0.5em;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
code {
	font-size: 0.875em;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
	font-weight: bold;
}
p {
	margin: 0 0 0.5em;
	/*max-width: 634px;*/
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2em;
	padding: 0.5em 0 0.25em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

img {
	max-width: 100%;
}

#logo {
	padding-bottom: 0;
}

.logo {
	color: #11bad3;
	font-weight: normal;
	font-size: 1.2em;
}

.logo b {
	font-weight: bold;
}

.banner-wrap {
	background: #fa7300;
	padding:0px;
	margin:0px;
}

.intro {
	font-size: 1.75em;
	line-height: 1.1em;
	max-width: none;
}

.grid {
	padding: 0 20px;
}

.row {
	margin-bottom: 1em;
}

.feature{
	background-color:#fbfbfb;
	-moz-box-shadow: 0px 5px 10px 1px #f0f0f0;
	-webkit-box-shadow: 0px 5px 10px 1px #f0f0f0;
	box-shadow: 0px 5px 10px 1px #f0f0f0;
	}

.feature p {
	font-size: 1.125em;
}

.example-grids {
	margin-bottom: 4em;
}

.example-grids .row { margin-bottom: 0; }

.example-grids .row p {
	background: #ffc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 1em;
	margin: 0 0 1em;
}

.footer{width:100%;}

.footer p {
	color: #666;
	text-align: center;
	max-width: none;
}